/* stylelint-disable */

// get lost on dark BGs.
.block-editor-button-block-appender {
	background-color: #fff !important;
	color: #1e1e1e !important;

	&:hover,
	&:focus {
		color: var(--wp-admin-theme-color, #007cba) !important;
	}
}

.block-editor-inserter__toggle.components-button {
	border: 1px solid #fff;
}

/* Appender gets hidden on dark BG */
// .block-editor-button-block-appender {
// 	background: rgba(225, 225, 225, 1);
// }

/** Hero appender temp
 * need to build an actual custom one. */
// .polaris-hero-appender {
// 	.block-editor-inserter {
// 		width: 100%;
// 	}
// 	.block-editor-button-block-appender {
// 		min-height: 224px;
// 		aspect-ratio: var(--wp--preset--aspect-ratio--1-1, 1/1);
// 	}
// }

// .hero.is-style-stacked {
// 	.polaris-hero-appender {
// 		.block-editor-button-block-appender {
// 			min-height: 224px;
// 			aspect-ratio: var(--wp--preset--aspect-ratio--16-9, 16/9);
// 		}
// 	}
// }

/* Button appender */
.wp-block-buttons {
	.block-list-appender {
		position: relative;
	}
}

/* Section appender */
// .wp-block-polaris-section {
// 	.block-list-appender {
// 		margin-top: 20px;
// 		position: relative;
// 		width: 100%;
// 		left: 0;
// 	}
// }

/* Build block appender */
// .edit-post-visual-editor {
// 	.polaris-block-appender {
// 		background: rgba(225, 225, 225, 1);
// 		align-items: center;
// 		box-shadow: inset 0 0 0 1px #1e1e1e;
// 		color: #1e1e1e;
// 		height: auto;
// 		justify-content: center;
// 		width: 100%;
// 		padding: 12px;
// 	}
// }

/* Hack for whn in section  */
// section {
// 	.wp-block-polaris-column {
// 		.polaris-block-appender {
// 			width: calc(100% - 40px);
// 			margin: 0 20px 0 0;
// 		}
// 		* + .block-list-appender {
// 			.polaris-block-appender {
// 				width: auto;
// 				margin: 0;
// 				right: 0;
// 				bottom: 0;
// 				position: absolute;
// 			}
// 		}
// 	}
// }

/* Features appender */
// .features.grid {
// 	.block-list-appender {
// 		position: absolute;
// 		width: auto;
// 		.block-editor-button-block-appender {
// 			width: auto;
// 		}
// 	}
// }

/** Default Appender
-----------------------------------------------------------------*/
// .block-editor-block-list__block
// 	.block-list-appender
// 	.block-editor-inserter__toggle.components-button.has-icon,
// .block-editor-block-list__block
// 	.block-list-appender
// 	.block-list-appender__toggle,
// .block-list-appender__toggle {
// 	border: 1px solid #fff;
// }

/** Column Appender
-----------------------------------------------------------------*/
.wp-block-polaris-columns {
	.block-list-appender.wp-block {
		width: 100%;
		.column {
			width: 100%;
		}
	}
}

.wp-block-polaris-column-appender-wrapper.is-dragging-over {
	background-color: rgba(134, 134, 134, 0.208);
	border: 1px solid var(--wp-admin-theme-color);
}

.wp-block-polaris-column-appender-wrapper {
	background-color: rgba(134, 134, 134, 0.06);
	border: 1px dashed rgba(87, 87, 87, 0.302);
	height: 100%;
	min-height: 80px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	&:focus,
	&:focus-within {
		border: 1px solid var(--wp-admin-theme-color);
	}
	&:hover {
		background-color: rgba(134, 134, 134, 0.1);
	}
}

.built-block-appender-column__appender {
	display: flex !important;
	position: relative !important;
	opacity: 1 !important;
	transform: scale(1) !important;
}

// .block-editor-block-list__block .block-list-appender {
// 	width: 100%;
// 	height: 100%;
// 	position: relative !important;
// 	pointer-events: none;
// }

// .block-editor-block-list__block
// 	.block-list-appender
// 	.block-list-appender__toggle,
// .block-editor-block-list__block
// 	.block-list-appender
// 	.block-editor-inserter__toggle {
// 	pointer-events: auto;
// }

/* stylelint-enable */
