@use "../helpers/index" as *;

/* Grid
---------------------------------------- */
.grid {
    display: grid;
    gap: var(--wp--preset--spacing--50);

    @for $i from 2 through 6 {
        &.grid-has-#{$i} {
            @include gt-sm() {
                grid-template-columns: repeat(2, 1fr);
            }

            @include gt-lg() {
                grid-template-columns: repeat($i, 1fr);
            }
        }
    }
}
